<!-- header -->
{{> header }}    
{{> sidebar }}
    <!-- Caja principal -->
    <div id="principal">
        <h1 style="padding-bottom: 20px;">No encontrado</h1>
        <h4 style="padding-bottom: 20px;">Vaya, el contenido que esta buscando no fue encontrado</h4>
        <a href="/" class="boton">Volver</a>
    </div>
        
{{> footer }}