<!-- header -->
{{> header }}    
{{> sidebar }}

    <!-- Caja principal -->
    <div id="principal">
        <h1>Ultimas entradas</h1>
        <article class="entrada">
            <a href="">
                <h2>Titulo de entrada</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia non distinctio obcaecati explicabo corporis rem sed tempora adipisci nobis natus, atque consequuntur. Amet molestiae exercitationem quasi ipsa, odit at repudiandae.
                </p>
            </a>
        </article>

        <article class="entrada">
            <a href="">
                <h2>Titulo de entrada</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia non distinctio obcaecati explicabo corporis rem sed tempora adipisci nobis natus, atque consequuntur. Amet molestiae exercitationem quasi ipsa, odit at repudiandae.
                </p>
            </a>
        </article>

        <article class="entrada">
            <a href="">
                <h2>Titulo de entrada</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia non distinctio obcaecati explicabo corporis rem sed tempora adipisci nobis natus, atque consequuntur. Amet molestiae exercitationem quasi ipsa, odit at repudiandae.
                </p>
            </a>
        </article>

        <article class="entrada">
            <a href="">
                <h2>Titulo de entrada</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia non distinctio obcaecati explicabo corporis rem sed tempora adipisci nobis natus, atque consequuntur. Amet molestiae exercitationem quasi ipsa, odit at repudiandae.
                </p>
            </a>
        </article>
        
        <div id="ver-todas">
            <a href="">Ver Todas las Entradas</a>
        </div>
    </div>
        
{{> footer }}