        <div class="clearfix"></div>
    </div>
    
    <!-- pie de pagina -->
    <footer id="pie">
        <p>Desarrollado por Gabriel Martinez &copy; <%= year %></p>
    </footer>
    <script src="js/global.js"></script>
</body>
</html>